#drawer {
  .map-container {
    height: calc(100vh - 64px);
    position: relative;
    z-index: 2;

    .map-bg {
      width: calc(100% + 80px);
      height: 100%;
      background: url('../img/lib-map.jpg') no-repeat center center;
      background-size: cover;
    }
  }

  .map-bg {
    width: 100%;
    background: url('../img/lib-map.jpg') no-repeat center center;
    background-size: contain;
  }
}
