.filter-wrapper {
  display: flex;
  justify-content: center;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-bottom:2rem;

  .select-filter {
    background-color: rgb(26,43,69) !important;
  }
  .select-filter-cat {
    border-bottom: 5px solid rgb(3,171,196);
  }
  .select-filter-tag {
    border-bottom: 5px solid rgb(70,78,55);
  }
  .select-filter-order {
    border-bottom: 5px solid rgb(204,29,135);
  }
}
