form {
  &.drawer-form {
    position : relative;
    z-index  : 2;
  }

  &.form-content {
    input {
      border: 1px solid rgba(255, 255, 255, .25);
      border-radius: 0;
      background-color: rgba(255, 255, 255, .1);
      margin: 0 0 15px;
      text-align: left;
      height: 3.5rem;

      @media screen and (max-width: 30rem) {
        font-size: small !important;
      }

      &:hover {
        background-color: rgba(0,0,0,.35);
      }
      &:-moz-placeholder { /* Firefox 18- */
         color: #fff;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
         color: #fff;
      }
    }
    .form_fname {
      border: solid rgba(255, 255, 255, 0.25);
      border-top-width: 1px;
      border-right-width: 0px;
      border-bottom-width: 1px;
      border-left-width: 1px;
    }
    .form_lname {
      border: solid rgba(255, 255, 255, 0.25);
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 0px;
    }

    span {
      padding-left: 10px;
      margin-top: 15px
    }

    .err-msg {
      padding-left: 10px;
      color: yellow;
    }
  }

  ._button-wrapper {
    .submit_btn {
      margin: 0;
      font-size: medium !important;
    }
  }
}
