form {
  &.drawer-form {
    position : relative;
    z-index  : 2;
  }

  &.form-content {
    input {
      border: 1px solid rgba(255, 255, 255, .25);
      border-radius: 0;
      background-color: rgba(255, 255, 255, .1);
      margin: 0 0 15px;
      text-align: left;
      padding: 25px 10px;

      &:hover {
        background-color: rgba(0,0,0,.35);
      }
    }

    span {
      padding-left: 10px;
      margin-top: 15px
    }

    .err-msg {
      padding-left: 10px;
      color: yellow;
    }
  }

  ._button-wrapper {
    .submit_btn {
      margin: 0;
      font-size: medium !important;
    }
  }
}


