.page-title {
  padding: 4vw 0;

  h1 {
    font-weight    : bold;
    font-size      : 50px;
    text-transform : uppercase;
  }
  p {
    font-family: 'AN-Reg', sans-serif;
    b {font-family: 'AN-Bold'}
  }
  h3 {
    text-align: center;
    span {text-decoration: underline;}
  }
}
