.sample-btn {
  font-weight: normal;
  line-height: 1.25;
  color: #0275d8;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
  border: none;
  background: transparent;
}

.sample-btn:focus {
  outline: none;
}
