.planning-row, .news-row {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  .planning-title {
    font-family: 'AN-Bold';
    text-transform: uppercase;
    font-size: 2.25rem;
    a {
      color: #fff;
    }
    @media screen and (max-width: 48rem){
      font-size: 1.5rem;
    }
  }
  .left-title {
    margin-right: 1rem;
  }
  .planning-img {
    max-width: 83.5%;
    margin: 20px 20px 20px 0;
    @media screen and (max-width: 48rem){
      max-width: 100%;
    }
  }
  @media screen and (max-width: 48rem){
    display: block;
  }
}
.planning-row {
  align-items: center;
}
.news-row {
  @media screen and (max-width: 48rem){
    .article {
      overflow: auto;
      margin-bottom: 3rem;
    }
    margin: 0 auto;
  }
}
