.section-content {
  align-items: center;
  display: flex;
  height: 75vh;
  position: relative;
}


.ten-row {
  position: relative;
  .title-col {
    position: absolute;
    height: 100%;
    .section-title {
      font-size: 100px;
      font-weight: bold;
      text-shadow: 1px 1px black;
    }
  }
  .vertical-centered-title {
    align-items: center;
    display: flex;
    height: inherit;
    position: absolute;
  }
}

.right-col,
.left-col {
  display: flex;
  flex-direction: column-reverse;
}

.left-col {
  justify-content: center;
  align-items: center;
  .title-left-col {
    margin-top: -75px;
    z-index: 1;
    h1 {
      font-size: 86px;
      font-weight: bold;
      line-height: 85px;
      text-shadow: 1px 1px black;
      text-transform: uppercase;
    }
  }
}

.title-right-col {
  align-self: flex-end;
  margin-top: -50px;
  z-index: 1;
  h1 {
    font-size: 75px;
    font-weight: bold;
    line-height: 85px;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
  }
}

.last-row {
  .image {
    align-self: flex-start;
    width: 85%;
  }
}

.art-icon,
.ideas-icon,
.music-icon {
  width: 80px;
  height: 80px;
  z-index: -1;
  margin-left: -40px;
}

.music-icon {
  background: url('../img/music-icon.png')
}
.art-icon {
  background: url('../img/art-icon.png');
}
.ideas-icon {
  background: url('../img/ideas-icon.png');
}
