.lineup-title {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.lineup-list {
  min-height: 40vmax;

  .no-result {
    text-align: center;
    font-weight: bold;
  }
  // &:last-child
  .artist-name {
    display: inline-flex;
    align-items: center;
    &:hover {
      position: relative;
      .bio-link { display: flex; }
    }
    .link-to-vibe {
      cursor: pointer;
    }
    .separator {
      color: white;
      font-size: 2rem;
      font-family: 'AN-Round';
      padding: 0 15px;
      // color: red;
    }
    .name {
      font-family: 'AN-Round', sans-serif;
      font-size: 2rem;
      letter-spacing: 1px;
      line-height: 1;
      margin-right: 1px;
      text-transform: uppercase;
    }
  }
  .bio-link {
    display: none;
    position: absolute;
    background: #000;
    padding: 15px 50px;
    right: -85px;
    z-index: 1;
    animation-name: 'zoomOut';
    animation-duration: .15s;
    transition: all .15s ease-in-out;
  }

}
