.featured-image {
  height: 500px;
  width: 100%;
  background-size: 100% !important;
  margin-bottom: 2rem;
}

.page-content {
  column-count: 2;
  column-gap: 60px;
  text-align: justify;
  font-size: 1.15rem;
}
