.ticket-lg {
  font-family: 'AN-Round';
  text-shadow: 1px 1px 1px #040508;
  padding-top: 65px;
  .ticket-price {
    font-family: 'AN-Round', sans-serif;
    font-size: 5rem;
    line-height: 7rem;
    margin: 0 10px;
    text-transform: uppercase;
  }

  .ticket-name {
    font-size: 7vw;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  .ticket-description {
    padding: 60px 0;
    font-family: 'AN-Thin', sans-serif;
  }
}


.ticket-sm {
  .ticket-description {
    padding: 60px 0
  }
}

.tix-comparsion-table {
  display: none;
}

.accordion-lib-content.show {
  .tix-comparsion-table {
    display: block;
  }
}

.tix-links-w-arrow {
  margin: 5rem 0;
  .btn-underline a {
    font-family: 'AN-Reg', sans-serif;
    letter-spacing: 10px;
  }
  i {
    margin-left: 20px
  }
}

.neon-btns
  ._button-wrapper
    .btn {
      font-size: 1.8vw;
      padding: 10px 60px;
    }
