@import '~foundation-sites/scss/foundation.scss';

.column-height {
  height: 1px;
}

#vibe-page{
  .page-title {
    font-family: 'AN-Bold', sans-serif
  }

  .twelve-row {
    transition: filter 1s ease-in-out;

    .vibe-list > div {
      margin-bottom: 20px;
    }
    .image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .name {
        position: absolute;
        color: #fff;
        font-size: 1.75vw;
        text-shadow: 3px 3px 5px rgba(0,0,0,0.35);
        text-transform: uppercase;
        font-family: 'AN-Bold', sans-serif;
        font-weight: bold;
        text-align: center;
      }
      .gutter-right { padding-right: 20px; }
      .gutter-left { padding-left: 20px; }
      .gutter-both { padding: 20px; }
    }
  }

  .filter-wrapper {
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    z-index: 1;
    bottom: 20px;
    .select-filter {
      background-color: rgb(26,43,69) !important;
    }
    .select-filter-cat {
      border-bottom: 5px solid rgb(3,171,196);
    }
    .select-filter-tag {
      border-bottom: 5px solid rgb(70,78,55);
    }
    .select-filter-order {
      border-bottom: 5px solid rgb(204,29,135);
    }
  }

  .vibe-popover {
    height: calc(#{$content-height-full});
    opacity: 0;
    left: 0;
    padding: 0 25px 200px 25px;

    &.show {
      z-index: 2;
      margin-top: 100px;
      width: 100%;
    }

    .vibe-social-icons.pink_on {
      -webkit-text-stroke: black !important;
      transition: all 0.15s ease-in-out;
    }

    p, span, button {
      color: white;
      text-shadow: 1px 1px #000;
    }

    button {
      cursor: pointer;
    }

    .popover-content {
      column-count: 2;
      column-gap: 75px;
      margin-top: 50px;
    }

    .top-row {
      display: flex;
      align-items: center;
      .img-container {
        position: relative;
      }
    }

    .title-container {
      // display: flex;
      // flex-direction: column;
      height: 400px;
      background-size: contain !important;
      // float: right;
      img {
        align-self: flex-end;
        max-width: 80%;
      }

      h1 {
        color: #fff;
        font-family: 'AN-Bold', sans-serif;
        // margin-top: -51px;
        text-transform: uppercase;
        text-shadow: 1px 1px #000;
        position: absolute;
        bottom: -20px;
        left: 0;
      }
    }

    .vibe-content {
      display: flex;
      justify-content: space-between;
      .navigation-btns {
        display: flex;
        flex-direction: row;
        padding-top: 90px;
        >.row {
          padding-bottom: 20px;
        }
      }
    }
  }
}
