@import '~foundation-sites/scss/foundation.scss';

.column-height {
  height: 1px;
}

#vibe-page{
  .twelve-row {
    margin-top: 100px;
    transition: filter 1s ease-in-out;

    .vibe-list > div {
      margin-bottom: 20px;
    }
    .image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .name {
        position: absolute;
        color: #fff;
        text-transform: uppercase;
        font-size: 30px;
        text-shadow: 1px 1px #000;
        font-weight: bold;
      }
      .gutter-right { padding-right: 20px; }
      .gutter-left { padding-left: 20px; }
      .gutter-both { padding: 20px; }
    }
  }

  .vibe-popover {
    height: calc(#{$content-height-full});
    opacity: 0;

    &.show {
      z-index: 1;
    }

    p, span, button {
      color: white;
      text-shadow: 1px 1px #000;
    }

    button {
      cursor: pointer;
    }

    .vibe-content {
      display: flex;
      justify-content: space-between;
      .title-container {
        h1 {
          color: #fff;
          font-family: 'AN-Bold', sans-serif;
          margin-top: -40px;
          text-transform: uppercase;
          text-shadow: 1px 1px #000;
        }
      }
      .navigation-btns {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
