.sold-out {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: AN-Bold;
  padding-top: 200px;
  color: white;
  text-align: center;
  font-size: 3rem;
}
