/** ===== COLOR OPTIONS ===== **/
/** ========================= **/

/* PINK */
.pink_on {
    color: #ec5db1;
    text-shadow: 0px 0px 30px rgba(226, 23, 141, 1);
    -webkit-text-stroke: 2px #E2178D;
}
.pink_on_safari {
	color: #ec5db1;
	text-shadow: 0px 0px 20px rgba(226, 23, 141, 0.5);
	-webkit-text-stroke: 2px #E2178D;
}
.pink_off {
    color: rgba(0,0,0,0.85);
    text-shadow: 0px 0px 30px rgba(226, 23, 141, 1);
    -webkit-text-stroke: 2px #E2178D;
}
.pink_off_safari {
    color: rgba(0,0,0,0.85);
    text-shadow: 0px 0px 20px rgba(226, 23, 141, 0.5);
    -webkit-text-stroke: 2px #E2178D;
}

/* BLUE */
.blue_on {
    color: rgb(11, 213, 226);
    text-shadow: 0px 0px 30px rgba(11, 213, 226, 1);
    -webkit-text-stroke: 2px rgb(0, 187, 211);
}
.blue_on_safari {
    color: rgb(11, 213, 226);
    text-shadow: 0px 0px 20px rgba(11, 213, 226, 0.5);
    -webkit-text-stroke: 2px rgb(0, 187, 211);
}
.blue_off {
    color: rgba(0,0,0,0.85);
    text-shadow: 0px 0px 30px rgba(11, 213, 226, 1);
    -webkit-text-stroke: 2px rgb(0, 187, 211);
}
.blue_off_safari {
    color: rgba(0,0,0,0.85);
    text-shadow: 0px 0px 20px rgba(11, 213, 226, 0.5);
    -webkit-text-stroke: 2px rgb(0, 187, 211);
}

/* YELLOW */
.yellow_on {
    color: rgb(243,229,102);
    text-shadow: 0px 0px 30px rgba(253, 220, 0, 1);
    -webkit-text-stroke: 2px #f7c15d;
}
.yellow_on_safari {
    color: rgb(243,229,102);
    text-shadow: 0px 0px 20px rgba(253, 220, 0, 0.5);
    -webkit-text-stroke: 2px #f7c15d;
}
.yellow_off {
    color: rgba(0,0,0,0.85);
    text-shadow: 0px 0px 30px rgba(253, 220, 0, 1);
    -webkit-text-stroke: 2px #f7c15d;
}
.yellow_off_safari {
    color: rgba(0,0,0,0.85);
    text-shadow: 0px 0px 20px rgba(253, 220, 0, 0.5);
    -webkit-text-stroke: 2px #f7c15d;
}

/* GREEN */
.green_on {
    color: rgb(187, 235, 89);
    text-shadow: 0px 0px 30px rgba(187, 235, 89, 1);
    -webkit-text-stroke: 2px rgb(156, 203, 61);
}
.green_on_safari {
    color: rgb(187, 235, 89);
    text-shadow: 0px 0px 20px rgba(187, 235, 89, 0.5);
    -webkit-text-stroke: 2px rgb(156, 203, 61);
}
.green_off {
    color: rgba(0,0,0,0.85);
    text-shadow: 0px 0px 30px rgba(187, 235, 89, 1);
    -webkit-text-stroke: 2px rgb(156, 203, 61);
}
.green_off_safari {
    color: rgba(0,0,0,0.85);
    text-shadow: 0px 0px 20px rgba(187, 235, 89, 0.5);
    -webkit-text-stroke: 2px rgb(156, 203, 61);
}

.pink-arrow {
  color: rgb(226,27,142);
  text-shadow: 0 0 25px rgb(236,93,177);
  font-size: 3rem;
}
.blue-arrow {
  color: rgb(0,187,211);
  text-shadow: 0 0 25px rgb(11,213,226);
  font-size: 3rem;
}
