/* LAPTOP and UP */
@media only screen and (min-width: 90.063rem) {
  ._button-wrapper {
    .btn {
      font-size: 1vw;
    }
  }
}
/* LANDSCAPE TABLET DOWN */
@media only screen and (max-width: 64.000rem) {
  .row.row-wrapper {
    max-width: calc(100% - 50px);
  }
  .scrollbar, .gridSet {display: none;}
  .section-content {
    display: block;
    height: 100%;
    padding-top: 50px;
  }
  .map-container .map-bg {
    width: calc(100% + 25px)
  }

  ._button-wrapper {
    .btn {
      font-size: 1vw;
    }
  }

  .crowd {
    height: 250px;
    margin-top: 100px;
    .footer-content
      h1 {
        font-size: 9vw;
        line-height: 3.5rem;
        text-align: center;
        letter-spacing: 10px;
      }
    .dj {
      height: 170px;
    }
  }


}

/* PORTRAIT TABLET DOWN */
@media only screen and (max-width: 48.000rem) {
  h1 {
    font-family:"AN-Bold";
  }

  // HOME PAGE
  svg#paralogo {
    width: 75%;
    height: auto !important;
  }
  .logo
    .logobox {
      display: block;
      text-align: center;
    }
  .sbdesktop {
    display: none !important;
  }

  .separator {padding: 0 10px !important;}

  .copy-hero .copy {
    width: 100% !important;
  }

  .small-full { width: 100% !important; }

  .title-right-col h1,
  .left-col
    .title-left-col
      h1 {
        font-size: 15vw !important;
        text-align: center;
        line-height: 15vw;
      }


  // GENERAL STYLING
  .column-two {
    column-count: 1;
  }
  .ten-row
    .vertical-centered-title {
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      margin-top: 43px;
      .section-title {
        font-size: 12vw;
      }
    }

  .ten-row { .title-col{ .btn-underline { position: static; } } }

  .last-row
    .image {
      width: 100%;
    }


  .left-col .title-left-col{
    margin-bottom: 100px;
  }
  .featured,
  .right-col .title-right-col {
    margin-bottom: 50px;
  }

  ._button-wrapper {
    .btn {
      font-size: 3vw;
    }
  }

  // VIBE PAGE
  #vibe-page {
    .image .name {
      font-size: 10vw !important;
    }
    .vibe-popover{
      &.show {
        margin-top: 0px;
        padding-bottom: 50px;
      }
      .vibe-content {
        display: block;

        .title-container {
          h1 {
            margin-top: -26px;
          }
        }

        .navigation-btns {
          flex-direction: column-reverse;
          padding-top: 0px;
        }
      }
      .popover-content {
        column-count: 1;
      }

      .top-row {
        flex-direction: column-reverse;
        margin-top: 50px;
        .img-container {
        }
      }

    }
  }


  // PLANNING PAGE
  .planning-row {
    display: block;
    margin: 80px 0;
    & > div:nth-child(1) {
      margin-bottom: 80px;
    }
  }


  // LINEUP PAGE
  .lineup-title {
    display: block;
  }
  .lineup-list {
    .artist-name {
      .name {
        font-size: 1.5rem;
      }
    }
  }

  // ACCORDION
  .accordion-lib {
    margin-bottom: 7rem;
    .accordion-toggle
      h2 {
        font-size: 7vw;
        line-height: 7vw;
      }
  }

  // CONTENT PAGES
  .content-pages
    .featured-image {
      height: 250px;
    }

  // FOOTER

}
//
@media only screen and (max-width: 20rem) {
}
