/* LAPTOP and UP */
@media only screen and (min-width: 90.063rem) {
}
/* LANDSCAPE TABLET DOWN */
@media only screen and (max-width: 64.000rem) {
  .row.row-wrapper {
    max-width: calc(100% - 50px);
  }
  .scrollbar, .gridSet {display: none;}
  .section-content {
    display: block;
  }
  .map-container .map-bg {
    width: calc(100% + 25px)
  }
}
/* PORTRAIT TABLET DOWN */
@media only screen and (max-width: 48.000rem) {
}
/* MOBILE DOWN */
@media only screen and (max-width: 30rem) {
}
//
@media only screen and (max-width: 20rem) {
}
